#footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    color: black;
    border-radius: 10px;
    height: 27px;
    width: 75px;
    background-color: aquamarine;
}

body{
    background-color:azure;
}

#btn:hover{
    animation-duration: 0.7s;
    transform: scale(1.1);
}

#select{
    display: flex;
    align-items: center;
}

#text1{
    margin-right: 10px;
}

#forces{
    height: 20px;
}

.inputBox{
    text-align: center;
    width: 35px;
    margin-left: 5px;
    margin-top: 2px;
}

h2{
    height: 17px;
    text-align: center;
    font-size: 40px;
}

#beam{
    margin: auto;
    height: 50px;
    width: 50%;
    background-color: rgb(74, 36, 190);
}
#beamDiagram{
    margin-top: 30px;
    margin-bottom: 30px;
}
