#footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn{
    color: black;
    border-radius: 10px;
    height: 27px;
    width: 75px;
    background-color: aquamarine;
}

body{
    background-color:azure;
}

#btn:hover , #btnconfirm:hover{
    animation-duration: 0.7s;
    transform: scale(1.1);
}
#btn:active , #btnconfirm:active{
    animation-duration: 0.7s;
    opacity: 0.7;
}

#select{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    align-items: center;
    border-style: solid;
    border-radius: 4px;
    padding-right: 5px;
}

#text1{
    margin-right: 10px;
    font-size: 22px;
    padding-left: 10px;
}

#forces{
    height: 35px;
    width:55px;
    margin-right: 15px;
    border-radius: 5px;
}

.inputBox{
    text-align: center;
    width: 50px;
    margin-left: 10px;
    margin-top: 2px;
}

h2{
    font-size: 40px;
    border-color: rgb(85, 221, 255);
    margin: auto;
    width: 500px;
    border-style: solid;
    border-radius: 6px;
    border-width: 4px;
    height: 60px;
    text-align: center;
    justify-content: center;
    font-family: Arial;
    padding-top: 18px;
}

#beamDiagram{
    margin-top: 30px;
    margin-bottom: 30px;
}

#beam{
    position: relative;
    left:375px ;
    height: 50px;
    width: 760px;
    background-color: rgb(74, 36, 190);
    border: 6.9px solid black;
}

.arrow{
    transform: scale(2,4);
}

#btnconfirm{
    color: black;
    margin-left: 10px;
    border-radius: 55px;
    height: 45px;
    width: 80px;
    background-color: rgb(52, 164, 255);
    text-align: center;
    font-size: medium;
    color: white;
    box-shadow: 2px 1.5px 1.5px gray;
    font-family: Arial, Helvetica, sans-serif;
}

#distance{
    font-size: 22px;
}

#p0{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#p1{
    margin-top: 10px;
}

#reactionA{
    position: relative;
    left: 1138px;
    top: 23px;
}

#reactionB{
    position: relative;
    left: 358px;
    top: 23px;
}

#pF1{
    position:relative;
    left: 965px;
    top: -21px;
    visibility: hidden;
}
#pF2{
    position:relative;
    left: 530px;
    top: -21px;
    visibility: hidden;
}
#pF3{
    position:relative;
    left: 727px;
    top: -21px;
}

#tip{
    text-align:right;
    margin-top: 177px;
}
.div1{
    padding-right: 15px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.div2{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 50px;
    justify-content: space-between;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    align-items: center;
}
#f0{
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 3px;
    width: 50px;
    height: 25px;
}
.div3{
    display: flex;
    flex-direction: row;
    width: 700px;
    justify-content: space-between;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    align-items: center;
}
#div3_2{
    margin-top: 30px;
    padding-right: 5px;
}
#div3_1{
    padding-left: 10px;
}
#f1,#F1,#f2,#F2,#f3,#F3{
    height: 30px;
    width: 60px;
    border-radius: 5px;
}